# Categorical Transformation

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv('Transformed_Housing_Prices.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   Waterfront View                            21609 non-null  object
 7   No of Times Visited                        21609 non-null  object
 8   Condition of the House                     21609 non-null  object
 9   Overall Grade                              21609 non-null  int64
 10  Area of the House from Basement (in Sqft)  21609 non-null  float64
 11  Basement Area (in Sqft)                    21609 non-null  int64
 12  Age of House (in Years)                    21609 non-null  int64
 13  Zipcode                                    21609 non-null  float64
 14  Latitude                                   21609 non-null  float64
 15  Longitude                                  21609 non-null  float64
 16  Living Area after Renovation (in Sqft)     21609 non-null  float64
 17  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 18  Ever Renovated                             21609 non-null  object
 19  Years since Renovation                     21609 non-null  int64
dtypes: float64(10), int64(6), object(4)
memory usage: 3.5+ MB

In [23]:
mapping = {'Fair':'Good', 'Excellent':'Excellent', 'Good':'Good', 'Bad':'Okay', 'Okay':'Okay'}
data['Condition of the House'] = data['Condition of the House'].map(mapping)

In [14]:
data = pd.get_dummies(data,columns = ['Ever Renovated','Waterfront View'],drop_first = True)

In [19]:
mapping_2 = {'None':0, 'Thrice':3, 'Four':4, 'Twice':2, 'Once':1}
data['No of Times Visited'] = data['No of Times Visited'].map(mapping_2)

In [30]:
mapping_3={'Excellent':3,'Good':2,'Okay':1}
data['Condition of the House'] = data['Condition of the House'].map(mapping_3)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   No of Times Visited                        21609 non-null  int64
 7   Condition of the House                     21609 non-null  int64
 8   Overall Grade                              21609 non-null  int64
 9   Area of the House from Basement (in Sqft)  21609 non-null  float64
 10  Basement Area (in Sqft)                    21609 non-null  int64
 11  Age of House (in Years)                    21609 non-null  int64
 12  Zipcode                                    21609 non-null  float64
 13  Latitude                                   21609 non-null  float64
 14  Longitude                                  21609 non-null  float64
 15  Living Area after Renovation (in Sqft)     21609 non-null  float64
 16  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 17  Years since Renovation                     21609 non-null  int64
 18  Ever Renovated_Yes                         21609 non-null  uint8
 19  Waterfront View_Yes                        21609 non-null  uint8
dtypes: float64(10), int64(8), uint8(2)
memory usage: 3.2 MB

# Binning

In [34]:
Zip_code_mean = data.groupby('Zipcode').agg({'Sale Price':'mean'}).sort_values('Sale Price',ascending = True)

In [36]:
Zip_code_mean['Zipcode_group'] = pd.cut(Zip_code_mean['Sale Price'],bins = 10,labels = ['Zipcode_group_0',
                                                                                        'Zipcode_group_1',
                                                                                        'Zipcode_group_2',
                                                                                        'Zipcode_group_3',
                                                                                        'Zipcode_group_4',
                                                                                        'Zipcode_group_5',
                                                                                        'Zipcode_group_6',
                                                                                        'Zipcode_group_7',
                                                                                        'Zipcode_group_8',
                                                                                        'Zipcode_group_9'],include_lowest = True)

In [39]:
Zip_code_mean = Zip_code_mean.drop(columns = 'Sale Price')

In [42]:
data = pd.merge(data,Zip_code_mean,left_on = 'Zipcode',how = 'left',right_index = True)

In [44]:
data = data.drop(columns = 'Zipcode')

In [46]:
data = pd.get_dummies(data,columns = ['Zipcode_group'],drop_first = True)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 28 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   No of Times Visited                        21609 non-null  int64
 7   Condition of the House                     21609 non-null  int64
 8   Overall Grade                              21609 non-null  int64
 9   Area of the House from Basement (in Sqft)  21609 non-null  float64
 10  Basement Area (in Sqft)                    21609 non-null  int64
 11  Age of House (in Years)                    21609 non-null  int64
 12  Latitude                                   21609 non-null  float64
 13  Longitude                                  21609 non-null  float64
 14  Living Area after Renovation (in Sqft)     21609 non-null  float64
 15  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 16  Years since Renovation                     21609 non-null  int64
 17  Ever Renovated_Yes                         21609 non-null  uint8
 18  Waterfront View_Yes                        21609 non-null  uint8
 19  Zipcode_group_Zipcode_group_1              21609 non-null  uint8
 20  Zipcode_group_Zipcode_group_2              21609 non-null  uint8
 21  Zipcode_group_Zipcode_group_3              21609 non-null  uint8
 22  Zipcode_group_Zipcode_group_4              21609 non-null  uint8
 23  Zipcode_group_Zipcode_group_5              21609 non-null  uint8
 24  Zipcode_group_Zipcode_group_6              21609 non-null  uint8
 25  Zipcode_group_Zipcode_group_7              21609 non-null  uint8
 26  Zipcode_group_Zipcode_group_8              21609 non-null  uint8
 27  Zipcode_group_Zipcode_group_9              21609 non-null  uint8
dtypes: float64(9), int64(8), uint8(11)
memory usage: 3.7 MB

In [51]:
data.to_csv('Transformed_Housing_Prices_2.csv')