In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('Raw_Housing_Prices_1.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Date House was Sold                        21609 non-null  object
 1   Sale Price                                 21609 non-null  float64
 2   No of Bedrooms                             21609 non-null  int64
 3   No of Bathrooms                            21609 non-null  float64
 4   Flat Area (in Sqft)                        21609 non-null  float64
 5   Lot Area (in Sqft)                         21609 non-null  float64
 6   No of Floors                               21609 non-null  float64
 7   Waterfront View                            21609 non-null  object
 8   No of Times Visited                        21609 non-null  object
 9   Condition of the House                     21609 non-null  object
 10  Overall Grade                              21609 non-null  int64
 11  Area of the House from Basement (in Sqft)  21609 non-null  float64
 12  Basement Area (in Sqft)                    21609 non-null  int64
 13  Age of House (in Years)                    21609 non-null  int64
 14  Renovated Year                             21609 non-null  int64
 15  Zipcode                                    21609 non-null  float64
 16  Latitude                                   21609 non-null  float64
 17  Longitude                                  21609 non-null  float64
 18  Living Area after Renovation (in Sqft)     21609 non-null  float64
 19  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(6), object(4)
memory usage: 3.5+ MB

In [2]:
data['No of Times Visited'].unique()

array(['None', 'Thrice', 'Four', 'Twice', 'Once'], dtype=object)

In [3]:
mapping = {'None':'0', 'Thrice':'3', 'Four':'4', 'Twice':'2', 'Once':'1'}
data['No of Times Visited'] = data['No of Times Visited'].map(mapping)

In [4]:
data['No of Times Visited'].unique()

array(['0', '3', '4', '2', '1'], dtype=object)

In [5]:
data['Ever Renovated'] = np.where(data['Renovated Year'] == 0,'No','Yes')

In [6]:
data['Purchase Year'] = pd.DatetimeIndex(data['Date House was Sold']).year

In [7]:
data['Years since Renovation'] = np.where(data['Ever Renovated'] == "Yes",abs(data['Purchase Year'] - data['Renovated Year']),0)

In [8]:
data.drop(columns = ['Date House was Sold','Renovated Year','Purchase Year'],inplace = True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   Waterfront View                            21609 non-null  object
 7   No of Times Visited                        21609 non-null  object
 8   Condition of the House                     21609 non-null  object
 9   Overall Grade                              21609 non-null  int64
 10  Area of the House from Basement (in Sqft)  21609 non-null  float64
 11  Basement Area (in Sqft)                    21609 non-null  int64
 12  Age of House (in Years)                    21609 non-null  int64
 13  Zipcode                                    21609 non-null  float64
 14  Latitude                                   21609 non-null  float64
 15  Longitude                                  21609 non-null  float64
 16  Living Area after Renovation (in Sqft)     21609 non-null  float64
 17  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 18  Ever Renovated                             21609 non-null  object
 19  Years since Renovation                     21609 non-null  int64
dtypes: float64(10), int64(6), object(4)
memory usage: 3.5+ MB

In [10]:
data.to_csv('Transformed_Housing_Prices.csv')